body{
    background-color: black;
}

form {
    float: right;
    color: #73972C;
    width: 200px;
    padding: 10px;
    margin: 8px 8px 8px 8px;
    background-color: #314E10;

}

/*todo: need to update table so it is same size as picture underneath*/
table{
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
}

input {
        background-color: #73972C;
        color: #314E10;
    }


#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("images/board.jpg");

}